@model WebApplication1.Models.SANPHAM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SANPHAM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TacGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TacGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NamSX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NamSX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhaSX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhaSX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Noidung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Noidung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayThem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayThem)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaSP }) |
    @Html.ActionLink("Back to List", "Index")
</p>
