@model IEnumerable<WebApplication1.Models.HOADON>

@{
    ViewBag.Title = "Index";
}

<h2> ĐƠN HÀNG </h2>
<tr>
    <td>
        <a class="button-radius" href="@Url.Action("index" ,"AspNetRoles")"> PHÂN QUYỀN</a> |
        <a class="button-radius" href="@Url.Action("index" ,"AspNetUsers")"> TÀI KHOẢN KHÁCH HÀNG</a> |
        <a class="button-radius" href="@Url.Action("Index","THONGTINCANHANs")">THÔNG TIN KHÁCH HÀNG </a> |
        <a class="button-radius" href="@Url.Action("index","SANPHAMs")">SẢN PHẨM </a> |
        <a class="button-radius" href="@Url.Action("index","DonHang")">ĐƠN HÀNG </a>|
    </td>
</tr>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaHD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenKH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayLapHD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TongTien)
        </th>


        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MaHD)
    </td>
    <td>
        @MvcHtmlString.Create(item.TenKH)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NgayLapHD)
    </td>
    <td>
        @MvcHtmlString.Create(item.DiaChi)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SDT)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TongTien)
    </td>
    <td>

        @Html.ActionLink("Delete", "Delete", new { item.MaHD })
    </td>
    <td>

        <a href="~/CHITIETHOADONs/Details/@item.MaHD"> Xem chi tiết</a>
    </td>
</tr>
    }

</table>
